*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
derby.log
.ipynb_checkpoints/
**/*.ipynb_checkpoints/
**/*.csv
**/*.err
**/*.gz
**/*.graphml
**/*.ipynb
**/*.out
**/*.pdf
**/*.rds
**/*.rda
**/*.smi
**/*.svg
**/*.tiff
**/*.tsv
**/*.txt
**/*.xlsx
Archive/
Databases/
Environment/*
InputFiles/
IOFiles
omnipathr-log/
OutputFiles/
logs/
slurm_scripts/
Test_Jupyter/
tmp_dir/
Trash/
Trash*/
**/__pycache__
!Environment/Reticulate_env_py.R
